<!--The content below is only a placeholder and can be replaced.-->
<app-appheader></app-appheader>
<app-appmenu></app-appmenu>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Version 2.0</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <h1>สวัสดี</h1>
        </section>
</div>
<app-appfooter></app-appfooter>
<app-appsetting></app-appsetting>